.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 640px;
  height: 480px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

video {
  width: 100%;
  object-position: top;
}
