body {
  margin: 0;
}

*,
body * {
  font-family: "Roboto", sans-serif;
}

body a {
  color: #2a4bed;
  font-weight: 500;
}

header {
  color: white;
  font-size: 20px;
  padding-bottom: 16px;
  padding-top: 16px;
  background: rgb(29, 161, 242);
  padding-left: 32px;
}

.container {
  position: absolute;
  top: 72px;
  left: 16px;
  right: 16px;
  background: white;
  z-index: 99;
}

#notice {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  line-height: 1.5;
  font-size: 18px !important;
  max-width: 700px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  width: 100%;
}

video {
  width: 100%;
  object-position: center;
  border: 14px solid #979797;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 28px;
}

#landing {
  position: absolute;
  left: 0;
  right: 0;
  padding: 32px;
  padding-bottom: 8px;
  font-size: 22px;
  top: 55px;
  background: white;
  z-index: 999;
}

#start-btn {
  margin-top: 24px;
}

button {
  border-radius: 4px;
  padding: 8px 32px;
  font-size: 22px;
  background: #2a4bed;
  color: white;
  cursor: pointer;
}

#start-btn:disabled {
  background: grey;
}

#after-touch {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

#restart-btn {
  background: none;
  text-decoration: underline;
  color: blue;
  border: none;
  font-size: 16px;
  padding: 8px 6px;
}

#keep-going-btn {
  background: none;
  text-decoration: underline;
  color: blue;
  border: none;
  font-size: 20px;
  padding: 8px 6px;
}

#video-wrapper {
  position: relative;
  max-width: 600px;
  margin: auto;
  margin-top: 0px;
  max-height: 650px;
}

#twitter-btn-wrapper {
  margin-top: 6px;
}

#twitter-btn-wrapper a {
  color: white;
  background: rgb(29, 161, 242);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  padding: 6px 18px;
  border-radius: 4px;
  font-size: 18px;
  white-space: nowrap;
}

#twitter-btn-wrapper i {
  background: transparent 0 0 no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
  position: relative;
  top: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0px 8px 24px 8px;
  z-index: 1;
  font-size: 14px;
}

#footer .footer-first {
  white-space: nowrap;
}

#footer .footer-first,
#footer .footer-first a {
  display: inline-block;
  color: #666666;
}

#built-by {
  font-size: 16px;
  margin-top: 48px;
  text-align: center;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#overlay {
  position: absolute;
  top: 14px;
  bottom: 16px;
  left: 14px;
  right: 16px;
  z-index: 9999;
  width: 100%;
}

#status {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  color: black;
  font-size: 18px;
  padding: 4px 16px;
  text-align: right;
}

#status.touched {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
}

#results {
  text-align: center;
}

.tag {
  color: rgb(29, 161, 242);
  font-weight: 500;
}

#t-link,
#f-link {
  display: inline-block;
  width: 50px;
  margin: 0px 10px;
}

.s-icon {
  width: 100%;
}

#stats {
  font-size: 16px;
}
